<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello JH World 로그인</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>
    body {
      min-height: 100vh;


    }

    .input-form {
      max-width: 680px;

      margin-top: 80px;
      padding: 32px;

      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }
  </style>
</head>

<body style="background-color: #eeeeee;">
<div class="container">
  <div class="input-form-backgroud row">
    <div class="input-form col-md-12 mx-auto">

        <h4 class="mb-3">로그인
          <button type="button" onClick="location.href='/'" class="btn btn-warning" style="height:40px;float: right;color:white">
          X
        </button></h4>


      <form class="validation-form" name="formNm" method="post" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="userId">아이디</label>
              <input type="text" class="form-control" id="userId" name="userId" style="float:left" placeholder="" value="" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="password">비밀번호</label>
            <input type="text" class="form-control" id="password" name="password" placeholder="" value="" required>
          </div>
        </div>

        <div class="mb-4"></div>
        <button class="btn btn-primary btn-lg btn-block" type="button" onclick="fnlogin()">Login</button>
      </form>
    </div>
  </div>
  <footer class="my-3 text-center text-small">
    <!--<p class="mb-1">&copy; 2023 JH</p>-->
  </footer>
</div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>


    // 회원 가입 함수
    function fnlogin() {
      const userId = document.getElementById('userId').value;
      const password = document.getElementById('password').value;


      if(userId == ""){
        alert("아이디를 입력해주세요.");
        return;
      }
      if(password == ""){
        alert("비밀번호를 입력해주세요.");
        return;
      }


      let params = {
        userId: userId,
        password: password
      }

      ajaxPost("/login", params, function(resData) {
        if(resData.data.msg == "success"){
          location.replace('/');
        }else{
          alert("아이디 혹은 비밀번호가 일치하지 않습니다.");
        }
      });

    }

     /**
     * 비동기 호출 함수 (POST-일반)
     * @param {string} url 비동기 호출할 주소
     * @param {object} params 매개변수
     * @param {method} callbackMethod 실행될 함수
     */
    function ajaxPost(url, params, callbackMethod) {
        $.ajax({
            contentType: 'application/json',
            type: 'POST',
            data: JSON.stringify(params),
            url: url,
            //dataType: "json",
            success : function(data) {
                callbackMethod(data);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                alert("에러가 발생했습니다. \r\n관리자에게 문의해주십시오.");
            }
        });
    }
  </script>
</body>

</html>